.nav {
    display: none;
}
.burger {
    display: block;
    width: 25px;
    height: 25px;
}
/*//////////////////////////////////////*/

.trends--content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3px;
    row-gap: 3px;
    /*  min-height: 300px;
    height: 100%; */
}
.item-trend {
    max-width: calc(50% - 3px);
    /*  min-height: 247px; */
}
@media (orientation: landscape) {
    .item-trend {
        max-width: calc(25% - 3px);
        /*  min-height: 247px; */
    }
    .item-trend--content {
        padding: 20px 18px;
    }
}

/*//////////////////////////////////////*/
.wrapper {
    /*  margin: 0 auto; */
    display: flex;
    padding: 0 30px;
    column-gap: 0;
    /*  justify-content: center; */
    margin-top: 50px;
    margin-bottom: 50px;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 780px; */
    min-width: 100%;
    min-height: 295px;
    padding-bottom: 20px;
}

.post:not(:last-child) {
    margin-bottom: 40px;
    border-bottom: 3px solid #eeeeee;
}
.post-img {
    background-size: cover;
    min-width: 100%;
    max-height: 295px;
}
.post-text {
    max-width: 100%;
    min-height: 295px;
    margin-left: 0;
}
.post-subtitle {
    /*  margin-top: 15px; */
    /*   margin-bottom: 0; */
}
.post-tittle {
    margin-top: 10px;
    margin-bottom: 35px;
    /*  line-height: 0; */
}
.post-data-author {
    /*   display: flex;
    column-gap: 10px; */
    margin-bottom: 35px;
}
/*//////////////////////////////////////*/
.products {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    padding: 0 50px;
}
.products--items {
    display: flex;
    gap: 80px;
}
.product {
    max-width: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.product-img {
    z-index: 1;
    position: relative;
}
.product-img picture img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
}
.product-content {
    position: relative;
    flex-grow: 1;
    border: 3px solid #b59f5b;
    padding: 40px 20px 20px 20px;
    margin: -35px -20px 0 -20px;
    z-index: 2;
}
/*//////////////////////////////////////*/

.footer-info {
    /* display: block;
    text-align: center;
    padding-bottom: 40px; */
    margin-top: 50px;
}
