@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSansB";
  src:
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*//////////////////////////////////////////////////////*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
  list-style: none;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!><!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.header {
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 450px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  object-position: center center;
  z-index: 1;
}

.header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.content {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 65px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 15px 0 15px;
  z-index: 2;
}
.logo {
  max-width: 179px;
  max-height: 41px;
  z-index: 2;
}
.nav-list {
  display: flex;
}
.link {
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "OpenSans", Arial, sans-serif;
  text-align: center;
}
.nav-list li:not(:last-child) {
  margin-right: 35px;
}
.link:hover {
  text-decoration: underline;
}
.tittle-text {
  text-align: center;
  margin-top: 81px;
  /*           */
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSansB", Arial, sans-serif;
}
/*!!!!!!!!!!!!!!MAIN!!!!!!!!!!!!!!!!!!!!!!!*/

.post:not(:last-child) {
  margin-bottom: 60px;
}
.post {
  display: flex;
  justify-content: space-between;
  max-width: 780px;
  min-height: 295px;
}
.post-img {
  max-width: 380px;
  max-height: 295px;
}
.post-text {
  max-width: 380px;
  min-height: 295px;
  margin-left: 30px;
}
.post-subtitle {
  display: flex;
}
.post-subtitle li:not(:last-child) {
  margin-right: 20px;
}
.post-subtitle a {
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
}
.post-subtitle a:hover {
  text-decoration: underline;
}
.post-tittle {
  margin-top: 10px;
  margin-bottom: 32px;
  line-height: 0;
}
.post-tittle-item {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSansB", Arial, sans-serif;
}
.c-b {
  color: #0f0d0e;
}
.post-tittle a:hover {
  color: #b59f5b;
}

.post-data-author {
  display: flex;
  column-gap: 10px;
  margin-bottom: 50px;
}

.data-post {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}
.author {
  font-style: normal;
  display: inline-block;
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 12px;
  color: #000000;
}
.desc {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  /* font-weight: 400; */
  color: #0f0d0e;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!.trends!!!!!!!!!!!!!!!!!!!!!!!!!*/
.trends {
  display: flex;
  flex-direction: column;
  margin-top: 59px;
}
.trends--content {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  /*  min-height: 300px;
  height: 100%; */
}
.item-trend {
  box-sizing: border-box;
  max-width: 414px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  position: relative;
  /*   padding: 60px 20px 10px 10px;
 */
}
.item-trend::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}
.one {
  background-image: url("../img/trend1.jpg");
}
.two {
  background-image: url("../img/trend2.jpg");
}
.three {
  background-image: url("../img/trend3.jpg");
}
.four {
  background-image: url("../img/trend4.jpg");
}
.item-trend--content {
  border: 3px solid #b59f5b;
  padding: 40px 36px;
  max-width: 371px;
  position: absolute;
  bottom: 16px;
  left: 20px;
  right: 20px;
}
.post-subtitle {
  margin-bottom: 10px;
}
.item-trend-tittle {
  color: #ffffff;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!.add-news!!!!!!!!!!!!!!!!!!!!!!!!!*/

a {
  text-decoration: none;
}
.add-news {
  box-sizing: content-box;
  max-width: 270px;
  width: 100%;
  padding-left: 15px;
}
.new-posts-tittle {
  text-align: center;
  margin-bottom: 25px;
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
}
.new-posts-tittle::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background-color: #b59f5b;
  margin: 10px auto 0; /* Отступ с боков по центру и снизу */
}
.post-tittle-aside a {
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
.post-tittle-aside a:hover {
  color: #b59f5b;
}
.new-posts-item:not(:last-child) {
  margin-bottom: 22px;
}
.new-posts-item {
  display: flex;
  min-height: 70px;
}
.item-img {
  max-width: 70px;
  max-height: 70px;
  margin-right: 18px;
}

.data {
  opacity: 0.54;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}
.xs {
  margin-top: 5px;
}
.xs a {
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!search!!!!!!!!!!!!!!!!!!!!!!!!*/
.section:not(:last-child) {
  margin-bottom: 60px;
}
[placeholder] {
  opacity: 0.54;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}
button {
  cursor: pointer;
}
.form {
  min-height: 48px;
  max-width: 270px;
  width: 100%;
  display: flex;
}
.search-item {
  position: relative;
  min-width: 270px;
  min-height: 48px;
  background-color: #f4f7f6;
}

.search-input {
  min-height: 48px;
  width: 100%;
  outline: none; /* чтобы убрать обводку вокруг формы */
  padding-left: 18px;
  background-color: #f4f7f6;
}
.search-input:focus,
.mailing-email:focus {
  outline: 1px solid #b59f5b;
}

.search-submit {
  min-width: 48px;
  min-height: 48px;
  background-color: #b59f5b;
  /*  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;*/
}
.search-submit svg {
  width: 18px;
  height: 18px;
}
.search-submit:hover,
.mailing-submit:hover {
  background-color: #323232;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!mailing!!!!!!!!!!!!!!!!!!!!!!!!*/

.column-email-input-button {
  background-color: #f4f7f6;
}
.mailing-email {
  background-color: #f4f7f6;
  padding-left: 18px;
  outline: none;
  margin-bottom: 16px;
}
.mailing-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  width: 100%;
  min-height: 49px;
  background-color: #b59f5b;
  border: none;
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!tags!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 5px;
}
.container-tag {
  box-sizing: border-box;
  max-height: 30px;
  padding: 3px 13px;
  text-align: center;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
}
.container-tag:hover:nth-child(1) {
  border: 3px solid #b59f5b;
}

.tag-link {
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!themes!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.list-item {
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
.item-link {
  display: flex;
  align-items: start;
  column-gap: 4px;
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
}
.item-link:hover {
  color: #b59f5b;
}

.link-number {
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!products!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.products {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}
.products--items {
  display: flex;
  justify-content: center;
  column-gap: 110px;
}
.product {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.product-img {
  z-index: 1;
  position: relative;
}
.product-content {
  position: relative;
  flex-grow: 1;
  border: 3px solid #b59f5b;
  padding: 40px 20px 20px 20px;
  margin: -35px -20px 0 -20px;
  z-index: 2;
}
.product-content-tittle {
  margin-bottom: 5px;
}
.product-content-subtittle {
  margin-bottom: 20px;
}
.product-content-subtittle span a {
  color: #b59f5b;
}
.product-content-footer {
  display: flex;
  justify-content: space-between;
}
.product--price {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.product--price-item {
  font-size: 20px;
  /*   line-height: 24px; */
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "OpenSansB";
}
.line-through {
  font-size: 14px;
  /*  line-height: 24px; */
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "OpenSansB";
}
.product--btn {
  min-width: 140px;
  min-height: 48px;
  background-color: #b59f5b;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSansB";
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  background-color: #f4f7f6;
  min-height: 83px;
}
.socials-icon {
  min-width: 20px;
  min-height: 20px;
}
.soc-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 0;
  font-size: 0;
  color: transparent;
}
.dribbble {
  /*   background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
 */
}
.pinterest {
  /*   background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
 */
}
.tumblr {
  /*   background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
 */
}

.footer-info {
  display: block;
  text-align: center;
  margin-top: 73px;
  padding-bottom: 40px;
}
.footer-info a {
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 12px;
  /*   font-weight: ;
   */
  color: #999999;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*!ВСПЛЫВАЮЩАЯ ФОРМА!*/
._hidden {
  display: none;
}
.pop-up-content {
  max-width: 420px;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 40px 20px;
}
.opaciti {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.pop-up-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.pop-up-label {
  display: flex;
  flex-direction: column;
}
.pop-up--select {
  padding: 15px;
  min-height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-size: 10px;
}
.pop-up-label span {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}
.pop-up--select,
.pop-up--textarea {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  background-color: #f3f3f3;
  color: #616161;
  opacity: 1;
}

.pop-up--radio {
  display: flex;
  flex-direction: column;
}
.pop-up--radio div {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
label {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
input {
  appearance: none;
  background: url("../svg/form-empty-circle.svg");
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
}
input:checked {
  background: url("../svg/form-circle.svg");
}

/*//////////////////////////////////////////////////////*/
.pop-up--input-three {
}
.pop-up--textarea {
  max-height: 150px;
  padding: 15px;
  resize: none;
}
.pop-up--btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  max-width: 270px; */
  width: 100%;
  min-height: 49px;
  background-color: #b59f5b;
  border: none;
  font-family: "OpenSansB", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}
